# ── NeonDB ──
DATABASE_URL=postgresql://username:password@your-neon-host.neon.tech/dbname?sslmode=require

# ── Admin Auth ──
ADMIN_PASSWORD=hikra
JWT_SECRET=your_jwt_secret_here_make_it_long_and_random

# ── ImgBB ──
IMGBB_API_KEY=your_imgbb_api_key_here
